/* Base styles */
header {
    background-image: url('e-commerce-.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

* {
    overflow-x: hidden;
}

.contentHeader {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.237);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%; /* Ensure nav takes the full height of contentHeader */
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

ul li {
    display: block;
    padding: 10px 15px; /* Adjust padding for better spacing */
}

li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: "Dancing Script", cursive;
}

li a:hover {
    color: orange;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
}

.logo p {
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: "Dancing Script", cursive;
    margin: 0;
    padding-left: 20px;
    transition: color 0.3s ease;
}

.logo p:hover {
    cursor: pointer;
    color: orange;
}

.logo i {
    margin-left: 10px;
    font-size: 24px;
    transition: color 0.3s ease;
}

/* Menu Icon */
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

/* Show menu icon and hide navigation links on small screens */
@media (max-width: 768px) {
    .contentHeader {
        flex-direction: column;
        align-items: flex-start;
        height: auto; /* Adjust height for small screens */
    }

    nav {
        width: 100%;
        justify-content: flex-start;
    }

    ul {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin: 10px 0;
        padding: 0;
    }

    ul.show {
        display: flex;
    }

    ul li {
        padding: 5px 0;
    }

    .logo p {
        font-size: 20px;
        padding-left: 10px;
    }

    .menu-icon {
        display: block;
    }
}

/* For very small screens */
@media (max-width: 480px) {
    .logo p {
        font-size: 18px;
        padding-left: 5px;
    }

    li a {
        font-size: 14px;
    }
}
